<!DOCTYPE html>
<html lang="en">

<head>
   {{>headlinks}}

</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="img/logo.jpg" alt="Vijay" class="img-fluid" title="Coder's hack">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h1>I Am a  <span class="text_clr"> Mern Stack Developer </span> And a Student</h1>
                        <a href="/">
                        <button> About Me</button>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{>footer}}

</body>

</html>