<!DOCTYPE html>
<html lang="en">

<head>
    {{>headlinks}}

</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" value="Search" id="submit" >
                    </form>
                </div>
                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day"> Tue</p>
                        <p id="today_date"> 13 OCT</p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name"> Get Output</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"> <span>0</span> <sup>o</sup> C</p>
                            <p id="temp_status"> <i class="fas fa-cloud"></i></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{>footer}}
    <script src="js/main.js"></script>
    <script>
        const day = document.getElementById('day');
        const today_date = document.getElementById('today_date');

        const getCurrentDay = () =>{
            let weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wednesday";
            weekday[4] = "Thursday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";

            let currentTime = new Date();
            let days = weekday[currentTime.getDay()];

            day.innerText = days;
        }
        getCurrentDay();

        const getCurrentTime = ()=>{
            var months = [
                "Jan",
                "Feb",
                "Mar",
                "Apr",
                "May",
                "Jun",
                "Jul",
                "Aug",
                "Sept",
                "Oct",
                "Nov",
                "Dec"
            ];

            var now = new Date();
            var month = months[now.getMonth()];
            var date = now.getDay();

            today_date.innerText = `${date},${month}`

        }
        getCurrentTime();
    </script>

</body>

</html>